body {
	background: #FC5C7D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #070707, #40434E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #070707, #40434E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rata-tengah {
    text-align: center;
		margin: 20px;
		border: 2px solid white;
		padding: 25px;
}

.judul {
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 50px;
}

h1 {
	color: #EDF2F4;
}

p.text-info {
	color: #B8D8D8;
}

b {
	color: #8D99AE;
}

label {
	color: #EDF2F4;
	padding-right: 5px;
}

input.btn.btn-primary {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

div.container {
	margin-top: 100px;
}
