body {
	background: #FC5C7D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #636564, #B4B8C5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #636564, #B4B8C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rata-tengah {
    text-align: center;
    margin : 20px;
}

.judul {
    text-transform:uppercase;
    margin-bottom: 50px;
    margin-top: 50px;
}
