{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>
  <p align="center">PORTOFOLIO</p>
</h1>

<div id="over" class="text-center">
    <img src= 'https://i.imgur.com/Ic40j53.jpg' class = "img-circle" width = "300" height="300" />
</div>
<hr/>
<center>
  <section name="bio">
      <h2>Bio</h2>
      <p>
          {{content}}
      </p>
  </section>
</center>
<hr/>
<center>
  <section name="about_me">
      <h2>List</h2>
      <ul>
          {% for ii in about_me %}
          <li> {{ ii }} </li>
          {% endfor %}
      </ul>
  </section>
</center>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}
