{% extends "lab_10/layout/base.html" %}

{% block header %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'lab-10:index' %}"><b>LAB 10</b></a> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user"></span> 
                  <strong>{{author}}</strong>
                  <span class="glyphicon glyphicon-chevron-down"></span>
              </a>
              <ul class="dropdown-menu">
                  <li>
                      <div class="navbar-login">
                          <div class="row">
                              <div class="col-lg-12">
                                  <h4 class="text-center"><strong>{{author}}</strong></h4>
                                  <h4 class="text-center small">{{kode_identitas}}</h4>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <div class="navbar-login navbar-login-session">
                          <div class="row">
                              <div class="col-lg-12">
                                <a href="{% url 'lab-10:auth_logout' %}" class="btn btn-danger btn-block" onclick="return confirm('Processing Logout?')">
                                          Logout </a>
                              </div>
                          </div>
                      </div>
                  </li>
              </ul>
          </li>
      </ul>
  </div><!--/.nav-collapse -->
{% endblock%}

{% block content %}
<!-- Content Here -->
<section id="data-dashboard">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> Dashboard </h2>
        </div>
        <div class="panel-body">
            <p> Username : {{ author }} </p>
            <p> NPM : {{kode_identitas}} </p>
            <p> Role : {{ role }} </p>
            <p>
                <a href="{% url 'lab-10:movie_list' %}" class="btn btn-primary"> Daftar Movie </a> |
                <a href="{% url 'lab-10:list_watch_later' %}" class="btn btn-info"> Daftar Watch Later </a>
            </p>
        </div>
    </div>
</section>
<hr>
{% endblock%}
